                 Task 2

## If-else

1] grade code

In [1]:
p=50
if p>75:
    print("Grade:O")
elif p>60:
    print("Grade:A")
elif p>50:
    print("Grade:B")
elif p>35:
    print("Grade:C")
else:
    print("Fail")

Grade:C

2] n divisible by 2 or 3

In [2]:
n=7
if n % 2 == 0 and n %3 == 0:
    print("Divisible by 2 and 3")
elif n % 2 == 0:
    print("Divisible by 2,not 3")
elif n % 3 == 0:
    print("Divisible by 3, not 2")
else:
    print("Not divisible by 2 or 3")

Not divisible by 2 or 3

5 Examples using only if

In [11]:
# 1] check if a number is positive
x=2
if x>0:
    print("positive number")

positive number

In [14]:
#2] check if age is above 18
age=20
if age>18:
    print("you are an adult")

you are an adult

In [19]:
# 4] check if number is greater than 5
x=6
if x > 5:
    print("x is greater than 5")

x is greater than 5

In [21]:
# 5] check if number is smaller than y
x=3
y=10
if x<y:
    print("x is smaller than y")

x is smaller than y

5 Examples using only if else

In [22]:
# 1.Even or odd
num = 3
if num % 2 == 0:
    print("Even")
else:
    print("odd")

odd

In [23]:
# 2.Adult or Minor
age = 15
if age >= 18:
    print("Adult")
else:
    print("Minor")

Minor

In [25]:
# 3.pass or fail
Mark = 32
if Mark >= 35:
    print("pass")
else:
    print("fail")

fail

In [26]:
# 4.Temperature ckeck
temp=30
if temp>30:
    print("hot")
else:
    print("Normal")

Normal

In [27]:
# 5. negative or positive
x = -5
if x < 0:
    print("Negative")
else:
    print("positive")

Negative

5 Examples using only if elife else

In [29]:
#1. Number of sign 
x = 5
if x>0:
    print("Positive")
elif x<0:
    print("Negative")
else:
    print("Zero")

Positive

In [30]:
#2.
for i in range (-5,5):
    if i>0:
        print("yes")
    elif i==0:
        print("what")
    else:
        print("no")

no
no
no
no
no
what
yes
yes
yes
yes

In [31]:
#3.Traffic light
light="yellow"
if light == "red":
    print("stop")
elif light == "yellow":
    print("Ready")
else:
    print("Go")

Ready

In [33]:
#4.Age category
age = 50
if age < 13:
    print("Child")
elif age < 60:
    print("Adult")
else:
    print("senior citizen")

Adult

In [41]:
#5.
a = 10
b = 10
if b > a:
    print("b is greater than a")
elif a == b:
    print("a and b are equal")

a and b are equal

## For loop

In [44]:
#1.print odd value between 20 and 80 without using if.using for loop only
for i in range(21,81,2):
        print(i)

21
23
25
27
29
31
33
35
37
39
41
43
45
47
49
51
53
55
57
59
61
63
65
67
69
71
73
75
77
79

In [45]:
#2) creat a list of 1 to 20 number using for loop [1,2,3..20]
num = []
for i in range(1,21):
    num.append(i)
    print(num)

[1]
[1, 2]
[1, 2, 3]
[1, 2, 3, 4]
[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5, 6]
[1, 2, 3, 4, 5, 6, 7]
[1, 2, 3, 4, 5, 6, 7, 8]
[1, 2, 3, 4, 5, 6, 7, 8, 9]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [47]:
#3)create a  list of 20 to 1 value using  for loop (dont Use Reverse)
list = []
for i in range(20,0,-1):
    list.append(i)
    print(list)

[20]
[20, 19]
[20, 19, 18]
[20, 19, 18, 17]
[20, 19, 18, 17, 16]
[20, 19, 18, 17, 16, 15]
[20, 19, 18, 17, 16, 15, 14]
[20, 19, 18, 17, 16, 15, 14, 13]
[20, 19, 18, 17, 16, 15, 14, 13, 12]
[20, 19, 18, 17, 16, 15, 14, 13, 12, 11]
[20, 19, 18, 17, 16, 15, 14, 13, 12, 11, 10]
[20, 19, 18, 17, 16, 15, 14, 13, 12, 11, 10, 9]
[20, 19, 18, 17, 16, 15, 14, 13, 12, 11, 10, 9, 8]
[20, 19, 18, 17, 16, 15, 14, 13, 12, 11, 10, 9, 8, 7]
[20, 19, 18, 17, 16, 15, 14, 13, 12, 11, 10, 9, 8, 7, 6]
[20, 19, 18, 17, 16, 15, 14, 13, 12, 11, 10, 9, 8, 7, 6, 5]
[20, 19, 18, 17, 16, 15, 14, 13, 12, 11, 10, 9, 8, 7, 6, 5, 4]
[20, 19, 18, 17, 16, 15, 14, 13, 12, 11, 10, 9, 8, 7, 6, 5, 4, 3]
[20, 19, 18, 17, 16, 15, 14, 13, 12, 11, 10, 9, 8, 7, 6, 5, 4, 3, 2]
[20, 19, 18, 17, 16, 15, 14, 13, 12, 11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [49]:
#4)take Cube of odd values between 20 to 40
for i in range (21,41,2):
    print(f"cube of{i} is {i**3}")

cube of21 is 9261
cube of23 is 12167
cube of25 is 15625
cube of27 is 19683
cube of29 is 24389
cube of31 is 29791
cube of33 is 35937
cube of35 is 42875
cube of37 is 50653
cube of39 is 59319

In [51]:
#5.
names = ['a','b','c','d','e']
age = [20,21,23,25,24]
for i in range (len(names)):
    print(f"My name is {names[i]},my age is {age[i]}")

My name is a,my age is 20
My name is b,my age is 21
My name is c,my age is 23
My name is d,my age is 25
My name is e,my age is 24

In [8]:
#write a Python code  to swap first and last element of the list.
list = [1, 2, 3, 4, 5]
if len(list) >= 2:
    list[0], list[-1] = list[-1], list[0]
print(list)

[5, 2, 3, 4, 1]

In [14]:
#write code count lenght of string
def count_length(s):
    return len(s)

string = "Hello, World!"
print("Length of the string:", count_length(string))

Length of the string: 13

In [1]:
#Write a Python program to get the sum of a only non-negative integer
def sum_non_negative(numbers):
    total = 0
    for num in numbers:
        if num >= 0:
            total += num
    return total

numbers = [1, 4, -5, -20, 10]
print("Sum of non-negative integers:", sum_non_negative(numbers))

Sum of non-negative integers: 15

## While Loop

In [9]:
#1)odd-even using while loop
num = int(input("Enter a number: "))
i = 1
while i <= num:
    if i % 2 == 0:
        print(f"{i} is even")
    else:
        print(f"{i} is odd")
        i += 1

Enter a number:  1

1 is odd

In [ ]:
#2)
i = 1
while i <= 5:
    j = 1
    while j <= i:
        print("*",end="")
        j += 1    
    print()
    i += 1

In [1]:
##3) creat list 1-20 numbers list using while loop=> [1,2,3... 20]
i = 1
numbers = []

while i <= 20:
    numbers.append(i)
    i += 1

print(numbers)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [2]:
#4)  creat list 20-1 (revers order) using while loop=> [20,19...1]
i = 20
rev_list = []

while i >= 1:
    rev_list.append(i)
    i -= 1

print(rev_list)

[20, 19, 18, 17, 16, 15, 14, 13, 12, 11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [1]:
#try with one any eg.break,continue,pass control statement
i = 1
while i <= 10:
    if i == 5:
        i += 1
        continue #skip 5
    if i > 8:
     break    # skip at 8    
    if i == 3:
         pass #do nothing , just pass
    print(i)
    i += 1

1
2
3
4
6
7
8